
body {
    height: 100vh;
    margin: 0;
    background-color: #3D3D3D;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #2b2a2a;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: white;
}

#image {
    border: none;
    border-radius: 10px;
}

#container {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.selection,
.score,
.img {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    justify-content: center;
}

.selection button {
    background-color: #0d8a14;
    color: #F9FAF8;
    padding: 8px 16px;
    width: 100px;
    border: none;
    border-radius: 10px;
}
